html{
    font-size: 62.5%;
}

/* Common CSS */
    body{
        font-family: 'Poppins', sans-serif;
        padding:0rem;
        margin:0rem;
        box-sizing: border-box;
    }

/* CSS rule for Header Element NavBar and Banner */

#header{
    background:#2D25A0;
    color:#FFFFFF;
    max-width:100vw;
    height:auto;
    padding-top:2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

/* CSS rule for Navbar */
.header-nav{
    max-width:82vw;
    display: flex;
    justify-content: space-between;
}
.header-nav ul{
    padding:0rem;
}
.nav-links a{
    font-size: 1.8rem;
    margin-right: 3.6rem;
    text-decoration: none;
    color:#FFFFFF
}
.nav-links a:hover{
    border-bottom:0.1rem solid black;
}
.button{
    background: #E02C6D;
    font-size: 1.6rem;
    color:#FFFFFF;
}
.nav-button{
    width:12.3rem;
    height:4.2rem;
}
.nav-login-button:hover{
    cursor: pointer;
}
/* CSS rule for Navbar */

/* CSS rule for Banner */
.copa-logo-title{
    box-sizing: border-box;
    
    width:80vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.copa-title{
    display:flex;
    flex-direction: column;
    justify-content: left;
    /* border:1px solid black; */
}
.copa-title h1{
    padding: 0rem;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom:0rem;
    line-height: 8rem;
}

.watch-button{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 16.8rem;
    height:4rem;
}
.watch-button a{
    color:#FFFFFF;
    text-decoration: none;
}
.watch-button:hover{
    transform: scale(1.1);
    transition:transform linear 1s
}
/* CSS rule for Banner */

/* Animation for Copa Image */

.copa-logo{
  
    width:35rem;
    box-sizing: border-box;
    
}
.copa-logo img{
    padding-top: 4rem;
    width:100%;
    height:auto;
}
@keyframes imageSpin {
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.copa-logo img:hover{
    animation-name: imageSpin;
    animation-duration: 1s;
    animation-iteration-count: 2;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-in-out;
}
/* Animation for Copa Image */

/* CSS rule for Player Card */
#main_contanier{
    max-width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center; 
}

.player-cards{
    margin:1rem 0rem 0rem 0rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    box-sizing: border-box;
    padding:0rem;
    width:80vw;
}
.card{
    border: 1px solid black;
    padding:1.5rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    height:auto;
    box-sizing: border-box;
}
.card img{
    Width:100%;
    Height:auto;
}

.player-info{
    margin-top:1.6rem;
    width:30rem;
}
.player-info> h2{
    margin: 0px 0px 0.5rem 0px;
    padding: 0px;
}

.player-name{
    font-size: 2.8rem;
    font-weight: 700;
}

.player-description{
    box-sizing: border-box;
    font-size: 1.6rem;
    font-weight: 400;
    padding:0rem;
    margin: 0.5rem 0px 0px 0px;
}

/* CSS rule for Player Card */

/* Css rule for Aside container */
.highlights{
    max-width:80vw;
    display: flex;
    margin-top: 5rem;
    box-sizing: border-box;
    }
.highlight-text h1{
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}
.highlight-text p{
    margin-top: 0.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #6C6C6C;
}
.featuredImage{
    
    max-width:40vw;
}
.featuredImage img{
    width:100%;
    height:auto;
}
/* Css rule for Aside container */

/* css rule for news part */
.newcontainer{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    row-gap:1rem;
    padding:0rem;
    margin:1rem 0rem 0rem 0rem;
    box-sizing: border-box;
    max-width:80vw;
}
.newsCard{
    padding:1rem;
    height:auto;
    background: #FFFFFF;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}
.newsCard img{
    width:100%;
}
.newsCard img:hover{
   transform: scale(1.05);
   transition: transform 2s ease;
}
   
.newsCard a{
    font-size: 2.8rem;
    font-weight: bold;
    color:#2D25A0;
}
/* css rule for news part */

#footer{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width:100vw;
    align-items: center;
    box-sizing: border-box;
}
.footer-log{
    max-width:80vw;
}
.footer-logo img{
    width:100%;
}
.footer-social-icon{
    display: flex;
    justify-content: space-around;
}
.footer-social-icon div{
    padding: 0rem;
    margin-right: 1.4rem;
    
}
.icon{
    width:3.2rem;
    height:3.2rem;
    border-radius: 50%;
    background:#0B0D17;
    opacity:0.2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-twitter, 
.fa-youtube,.fa-instagram,.fa-basketball-ball{
    color:#989899;
}

/*Laptop Responsive*/
@media (min-width:769px)and (max-width:1025px){
    #header{
        max-width: 100vw;
    }
   
    #main_contanier{
        max-width:100vw;
        display: flex;
        flex-direction: column;
        
        box-sizing: border-box;
    }
    .player-cards{
        max-width: 100vw;
        grid-template-columns: 1fr 1fr;
    }
    .card{
        width:40vw;
    }
    
}

/*Table Responsive*/
@media (min-width:426px)and (max-width:769px){
    #header{
        max-width: 100vw;
    }
   
    #main_contanier{
        max-width:100vw;
        display: flex;   
        box-sizing: border-box;

    }
    .player-cards{
        max-width: 100vw;
        grid-template-columns: 1fr 1fr;
    }
    .card{
        width:40vw;
    }
   
    .highlights{
        flex-direction: column;
    }
    .featuredImage{
        max-width:100vw;
    }
    .featuredImage img{
        width:100%;
        height:auto;
    }
}


/* Mobile Version up 320px */

/* @media (max-width:375px) {
    #header{
        width:100vw;
    }
    .copa-logo-title{
        grid-template-columns: 1fr;
    }

    .copa-title h1{
        font-size:3.4rem;
    }
    .copa-logo{
        width:30rem;
        box-sizing: border-box;
    }
    .copa-logo img{
        padding-top: 4rem;
        width:100%;
        height:auto;
    }
    
    .card{
        border: none;
        width:100vw;
    }
    .player-cards{
        grid-template-columns: 1fr;
        width:100vw;
    }
    .newcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100vw;
    }
    .newsCard{
        width:90vw;
    }
    .newsCard img{
        width:100%;
    }
    .newsCard p{
        font-size: 1.5rem;
    }
    .highlights{
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
    }
    .highlight-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    .highlight-text p{
        margin: 0rem;
        padding:0rem;
    }
    .highlight-text h1{
        font-size: 3rem ;
    }
    .featuredImage{
        width:90vw;
    }
    .featuredImage img{
        width:100%;
        height:auto;
    }
    #footer{
        width:99vw;
    }
    .footer-logo{
        width:80vw;
    }
    .footer-logo img{
        width:100%;
    }
    .watch-button{
        margin-bottom:1rem;
    }
}

 */
